
table{
	border-collapse:collapse;
	width:100%;
}

td,th{
	padding:10px;
}

tr:nth-child(even){
	background-color:#f2f2f2;
}

th{
	background-color:#4CAF50;
	color:white;
	font-weight:bold;
}

tr:hover{
	background-color:#ddd;
}

td{
	text-align:center;
}

a{
	display:inline-block;
	background-color:#4CAF50;
	color:white;
	padding:10px 20px;
	text-align:center;
	text-decoration:none;
	font-size:16px;
	border-radius:5px;
	border:none;
	cursor:pointer;
	transition:background-color 0.3s ease;
	
}

.button:hover{
	background-color:#3e8e41;
}

h1,h2{
	text-align:center;
}
p{
	text-align:center;
}